@import 'mixins.scss';

.about {
    h4 {
        text-transform: none;
        margin-top: 10px;
        font-weight: 700;
        font-size: 21px;
        letter-spacing: initial;
    }
}
.logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    @include mobile_tablet {
        justify-content: center;
    }
}
.logo {
    width: 50px;
    margin: 10px;
}