@import "mixins";

html {
  background-color: $primary;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-color: $whiteish;
  color: $blackish;
  font-family: $font;
}

.container {
  padding: 0 20px;
  max-width: 1000px !important;
}

h1,
h2,
h3,
p,
a {
   font-family: $font;
}

h1,
h2,
h3 {
  color: $blackish;
}

a {
  color: $blackish;
  box-shadow: none;
  text-decoration: underline;
  transition: color .2s ease;

  &:hover {
    color: $secondary;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  h1 {
    margin: 0;
    font-family: $font-secondary;
  }
}

.me {
  border-radius: 5px;
  display: block;
  -webkit-box-shadow: 6px 6px 7px 0px $primary;
  -moz-box-shadow: 6px 6px 7px 0px $primary;
  box-shadow: 6px 6px 7px 0px $primary;
  width: auto;
  height: 250px;
  margin-right: 25px;
  margin: auto;
}

// Some footer 
.footer {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid hsla(0,0%,0%,0.2);
  justify-content: space-between;

  @include mobile_tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    @include mobile_tablet {
      margin: 10px 0;
    }
  }
  

  svg {
    width: 35px;
    height: 35px;
    color: $blackish;
    margin: 0 5px;
    cursor: pointer;
    transition: color .2s ease;
    
    &:hover {
      color: $secondary;
    }
  }
}

// Blog posts list
.blog__posts {
  @include mobile_tablet {
    margin: 0;
  }

  .post {
    a {
      font-family: $font-secondary;
      font-weight: 700;
      text-transform: lowercase;
      font-size: 21px;
    }
  }
}

// Posts 
.markdown {
    .post__title {
        font-family: $font-secondary;
        text-transform: lowercase;
    }
}