@import "mixins";

html {
  background-color: $primary;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-color: $whiteish;
  color: $blackish;
}

body,
h1,
h2,
h3,
p,
a {
  font-family: $font;
}

h1,
h2,
h3 {
  color: #002E2C;
}

a {
  color: $gray;
  box-shadow: none;
  transition: color .2s ease;

  &:hover {
    color: $secondary;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  h1 {
    margin: 0;
  }
}
