@import '../../css/mixins.scss';

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}
svg {
  width: 35px;
  height: 35px;
  color: $blackish;
  margin: 0 5px;
  cursor: pointer;
  transition: color .2s ease;
  
  &:hover {
    color: $secondary;
  }
}
