@import "../../css/mixins";

.bio {
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: normal;
  }
}
.me {
  border-radius: 5px;
  display: block;
  -webkit-box-shadow: 10px 10px 0px 0px $primary;
  -moz-box-shadow: 10px 10px 0px 0px $primary;
  box-shadow: 10px 10px 0px 0px $primary;
  width: auto;
  height: 250px;
  margin-right: 25px;
  margin: auto;
}
