.bio {
  display: flex;
  flex-direction: row;
}
.me {
  border-radius: 5px;
  display: block;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(255,0,0,1);
  width: auto;
  height: 250px;
  margin-right: 25px;
}
